POSTGRES_HOST="localhost"  # NOTE THAT you may use docker postgreSQL, so use that host link
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="pg_or_db_password"
POSTGRES_DATABASE="investor_intelligence"
POSTGRES_SSLMODE="prefer"
HUGGINGFACEHUB_API_TOKEN="kndwdhiuhe"